<!DOCTYPE html>
{% extends 'base0.html' %}


{% block contenu %}
<div style="margin: auto;padding: auto; width: 1000px;">
    <h2>Billet de voyage 
        <p>Ligne : {% if infoln %}{{ infoln.ligne_id.ville_dep.nom_ville }} - 
            {{ infoln.ligne_id.ville_arr.nom_ville }}{% endif %}</p> 
    </h2>
    <div class="container">
        <div class="row align-items-start">
            <table class="table table-success table-striped">
                <tr>
                    <th style="color: black;">Nom</th>
                    <td>{{ billet.nom_clt }}</td>
                </tr>
                <tr>
                    <th style="color: black;">Prénom</th>
                    <td>{{ billet.prenom_clt }}</td>
                </tr>
                <tr >
                    <th style="color: black;">Email</th>
                    <td>{{ billet.email_clt }}</td>
                </tr>
                <tr >
                    <th style="color: black;">Téléphone</th>
                    <td>{{ billet.telephone_clt }}</td>
                </tr>
            </table>
        </div>
        <div class="row align-items-center">
            <table class="table table-success table-striped">
                <tr>
                    <th style="color: black;">Code Billet</th>
                    <td>{{ billet.code_billet }}</td>
                </tr>
                <tr>
                    <th style="color: black;">Prix Unitaire</th>
                    <td>{{ billet.prix }} francs CFA</td>
                </tr>
                <tr>
                    <th style="color: black;">Nombre de places</th>
                    <td>{{ billet.place }}</td>
                </tr>
                <tr>
                    <th style="color: black;">Montant Total</th>
                    <td>{{ billet.montant_billet }} francs CFA</td>
                </tr>
            </table>
        </div>
        <div class="row align-items-end">
            <table class="table table-success table-striped">
                <tr>
                    <th style="color: black;">Etat du billet</th>
                    <td>{{billet.etat_billet.libelle}}</td>
                </tr>
                <tr>
                    <th style="color: black;">Billet valide</th>
                    <td>{{billet.bl_valide}}</td>
                </tr>
                <tr>
                    <th style="color: black;">Date et heure de départ</th>
                    <td>{% if infoln %}{{ infoln.date_dep|date:"d-m-Y H:i:s" }}{% endif %}</td>
                </tr>
                <tr>
                    <th style="color: black;">Date et heure d'arrivée</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
     <a href="{% url 'client:generate_pdf' billet_id=billet.id %}">Télécharger en PDF</a>

    <footer><a class="btn" href="{% url 'client:accueil' %} ">&laquo; Revenir en arrière</a></footer><br>
    <script>
      $(document).ready(function () {
        $('#tableau').DataTable({
            dom:'f',
            language: {
                url: "DataTables/media/french.json"},
        });
    });
    </script>
    </div>
{% endblock contenu %}