<!DOCTYPE html>
{% extends 'base2.html' %}

{% load static %}
{% block titre %}
    
{% endblock titre %}


{% block contenu %}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4"> Compagnie {{comp.nom_cp}} : Recherche du compte à modifier</h1>
                    </div>
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="contact100-pic js-tilt col-lg-5 d-none d-lg-block"><img src="{% static 'images/bus_icon.jpg' %}" alt="IMG">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4"> Veuillez renseigner les champs suivants</h1>
                                </div>
                                <form class="user" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ recherche.nom_user }}
                                    </div>
                                    <div class="form-group">
                                        {{ recherche.prenom_user }}
                                    </div>
                                    <div class="form-group">
                                        {{ recherche.email_user }}
                                    </div>
                                    <div class="form-group">
                                        {{ recherche.nom_utilisateur }}
                                    </div>
                                    <div class="form-group">
                                        {{ recherche.pw_user }}
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block">
                                        Rechercher
                                    </button>
                                    
                                    <hr>
                                    <footer class="sticky-footer bg-white">
                                        <div class="container my-auto">
                                            <a class="btn" href="javascript:history.go(-1);">&laquo; Revenir en arrière</a>
                                        </div>
                                    </footer>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock contenu %}
    
    