<!DOCTYPE html>
{% extends 'base2.html' %}

{% load static %}

{% block head %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.39.0/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Date Time Picker CSS -->
    <link rel="stylesheet" href="{% static 'date-time/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'date-time/jquery-ui-timepicker-addon.css' %}" />
    <!-- Date Time Picker CSS -->
{% endblock head %}

{% block contenu %}
    <div class="container">
        <br>

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <h3 style="text-align: center;">Compagnie {{ comp.nom_cp }} </h3>
                <!-- Nested Row within Card Body -->
                {% if messages %}
                    <ul class="messages" style="font-size: 15px;">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}
                                style="font-size: 18px; color: red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row">
                    <div class="contact100-pic js-tilt col-lg-5 d-none d-lg-block">
                        <img src="{% static 'images/bus_icon.jpg' %}" alt="IMG">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-black-900 mb-4">Modifier un voyage!</h1>
                            </div>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <tr>
                                    <th style="color: black;">Date et heure de départ</th>
                                    <td>{{ infln.date_dep }}</td>
                                </tr>
                                <tr>
                                    <th style="color: black;">Date et heure de départ</th>
                                    <td>{{ infln.date_arr }}</td>
                                </tr>
                                <tr>
                                    <th style="color: black;">Ligne</th>
                                    <td>{{ infln.ligne_id.libelle }}</td>
                                </tr>
                                <tr>
                                    <th style="color: black;">Places restantes</th>
                                    <td>{{ infln.place_restante }}</td>
                                </tr>
                                

                            </table>
                            
                            <form class="user" method="post">
                                {% csrf_token %}
                                
                                <div class="form-group" style="color: black;">
                                    {{ form.prix.label_tag }}
                                    {{ form.prix }}
                                </div>
                                <div class="form-group" style="color: black;">
                                    {{ form.bus_id.label_tag }}
                                    {{ form.bus_id }}
                                </div>
                            
                                <button type="submit" class="btn btn-primary btn-user btn-block">Enregistrer</button>
                            </form>
                            
                            <hr>
                            <footer class="sticky-footer bg-white">
                                <div class="container my-auto">
                                    <a class="btn" href="javascript:history.go(-1);">&laquo; Revenir en arrière</a>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Date Time Picker JS -->
    <script src="{% static 'date-time/jquery-ui.js' %}"></script>
    <script src="{% static 'date-time/jquery-ui-timepicker-addon.js' %}"></script>
    <script>
        $(function () {
            $("#datetimepicker").datetimepicker({ dateFormat: 'yy-mm-dd', maxDate: 0, controlType: 'select' }).attr("autocomplete", "off");
        });
    </script>
    <!-- Date Time Picker JS -->
{% endblock contenu %}
