<!DOCTYPE html>
{% extends 'base1.html' %}
{% load static %}

{% block contenu %}

<div class="bg-contact100">
    <h1 style="align-items: center;text-align: center; ">MODIFICATION DE BILLET / ETAPE 1</h1>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <div class="contact100-pic js-tilt" data-tilt>
                <img src="{% static 'images/modele-formulaire-inscription.avif' %}" alt="IMG">
            </div>
            <form class="contact100-form validate-form" method="post" action="">
                
                <span class="contact100-form-title">
                    <b>Saisissez le code de votre billet ici</b> 
                </span>
                {% csrf_token %}
                <div class="wrap-input100 validate-input" data-validate="Un Nom est requi.">
                    {{ recherche.code_billet }}
                    <span class="focus-input100"></span>
                </div>
                
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        Rechercher
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</div>
<script type="text/javascript"></script>
{% endblock contenu %}
    